{% extends "layouts/base.html" %}
{% load humanize %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}

    
    <form method="POST">
        {% csrf_token %}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Cart List</h1>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in cart_items %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.qty }}</td>
                        <td>{{ c.price }}</td>
                        <td>
                            <a href="{% url 'book:cart_delete' slug=c.slug %}">Delete item</a>
                        </td>
                    </tr>
                    {% endfor %}


                </tbody>
            </table>
           
            <input type="hidden" name="page" value="con"
            <button></button>
   
           <a href="{% url 'book:checkout' %}" class="btn btn-success" type="submit">Continue to checkout</a>


        </div>
    </div>
</form>

{% endblock %}

