{% extends "layouts/base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Book Add{% endblock %}

{% block content %}

<h1>Products Add</h1>

<div class="row mb-5">
    <div class="col-lg-6 offset-lg-3">
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Save book</button>
        </form>
    </div>
</div>
{% endblock %}
